langchain
openai
fastapi
uvicorn
langchain_community


odmantic
motor
python-dotenv
requests
python-multipart
fastapi-clerk-auth


nest_asyncio
firecrawl-py==0.0.20 
llama_index 
llama-index-readers-web
llama-index-llms-gemini 
llama-parse
unstructured 
lxml


transformers
sentence-transformers
llama-index-embeddings-huggingface 
llama-index-embeddings-instructor
huggingface 
llama-index-vector-stores-weaviate
googletrans


altair==4.2.2

beautifulsoup4==4.12.2

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa

googletrans==4.0.0rc1
gTTS==2.3.2
h11==0.9.0
h2==3.2.0
h5py==3.9.0
hpack==3.0.0

httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.18.0

newspaper3k==0.2.8
nltk==3.8.1
numpy==1.23.5

pandas==2.1.0

streamlit==1.22.0

tensorboard==2.12.3

tensorflow==2.12.0

textblob==0.17.1

yake==0.4.8

llama-index-agent-openai-legacy
llama-index-agent-openai
llama-index-llms-openai
llama-index-vector-stores-weaviate
keras>3
keras-nlp
llama-index-embeddings-openai
matplotlib